@import "../../styles/base/settings.scss";

.section {
    text-align: center;
    padding: $m-size;
  }

.favourites {
  margin: 0 auto;
  text-align: center;
  width: 95%;
  &:not(:last-child) {
    border-bottom: black solid 1px;
  }
}

.favourite-container {
  display: flex;
  align-items: center;
  &__joke-counter {
    width: 10%;
  }
  &__joke {
    width: 85%;
    padding-right: $m-size;
  }
  &__removeBtn {
    width: 5%;
    color: grey;
    button {
      background: none;
      border: none;
      color: grey;
      &:hover {
        color: red;
      }
    }
  }
}
