@import "../../styles/base/settings.scss";

.section {
  text-align: center;
  padding: $m-size;
  box-sizing: border-box;
}

.form-component {
   &__area {
     display: flex;
     justify-content: space-between;
     &__field {
       margin-bottom: $m-size;

      input,
      textarea {
        width: 160px;
      }

      input, select {
        background: none;
        border: none;
        border-bottom: 1px solid $dark-blue;
      }

      textarea {
        resize: vertical;
      }

      select {
        width: 100%;
      }

      &__label {
        width: 100%;
        text-align: left;
        padding-bottom: $s-size;
        font-size: 14px;
        font-weight: bold;
        color: $dark-blue
      }
    }
   }
 }

 .checkbox-area {
   display: flex;
 }
