<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
</head>
<div class='main-container'>
  <header>
    <div class="brand">
      Jokes 4 days
    </div>
    <nav>
      <ul class="nav-items">
        <li class="navbar-item" routerLink="/jokes" routerLinkActive="active">Jokes</li>
        <li class="navbar-item" routerLink="/library" routerLinkActive="active">Library</li>
        <li class="navbar-item" routerLink="/add-joke" routerLinkActive="active">Add</li>
      </ul>
    </nav>
  </header>
  <router-outlet></router-outlet>
</div>

