<section class="section">
  <ng-container *ngIf="joke; else noJoke">
    <app-joke [joke]="joke"></app-joke>
  </ng-container>
  <button class="btn" [disabled]="loading" (click)="gettingJokes()">
    {{ loading ? "Fetching jokes..." : "Give me jokes!" }}
  </button>
  <button
    class="btn"
    [hidden]="!joke"
    [disabled]="loading || isAddedToFavourites"
    (click)="openModal()"
  >
    {{ isAddedToFavourites ? "Already added to Favourites" : "I laughed :)" }}
  </button>
</section>

<ng-template #noJoke>
  <div class="no-joke">
    <p class="no-joke-p">Click the button bellow and have fun!</p>
    <div class="icon">
      <fa-icon [icon]="faLaugh"></fa-icon>
    </div>
  </div>
</ng-template>

<app-modal
  [joke]="joke"
  [hidden]="!isModalOpen"
  (closeButtonClicked)="closeModal()"
></app-modal>
