// Colors
$dark-blue: #364051;
$super-dark-blue: #2a3439;
$off-white: #f7f7f7;
$dark-red: #660000;
$super-dark-red: #330000;
$star-yellow: #ffc107;
$star-grey: #e4e5e9;

// Font size
$font-size-small: 15px;
$font-size-medium: 20px;
$font-size-large: 25px;

// Spacing
$s-size: 5px;
$m-size: 10px;
$l-size: 15px;
$xl-size: 20px;
